*
{
    padding: 0;
    margin: 0;
}

.slider 
{
    height: 200px;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

img 
{
    width: 30%;
}

.btn
{
    border:  1px solid grey;
    width: 30px;
    height: 30px;
    border-radius: 20px;

}

.btn:hover 
{
    background-color: black;

}



.points 
{
    position: absolute;
    display: flex;
    width: 70px;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
    
}

.point 
{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.point:nth-child(1)
{
    background-color: black;
}

.example 
{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.example img 
{
    width: 170px;
    margin: 5px;
}

@media screen and (max-width: 700px) {
    .slider-img
    {
        display: none;
    }
    .for_mobile 
    {
        display: block;
    }
    .example img
    {
        display: none;
    }
    img
    {
        width: 60%;
    }
    
}
